* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.qrOutput {
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border: 2px solid;
  border-radius: 30px;
  corner-shape: squircle;
}
#qrcode {
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid cyan;
}
